.cartshopping-cart {
  width: 750px;
  height: 423px;
  margin: auto;
  background: #FFFFFF;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.carttitle {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.cartitem:hover {
  background: rgba(0, 0, 0, .075);
}

.cartitem {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  border-top: 1px solid #E1E8EE;
  border-bottom: 1px solid #E1E8EE;
}


.cartbuttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.cartdelete-btn {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
  background: url("https://designmodo.com/demo/shopping-cart/delete-icn.svg") no-repeat center;
  margin-right: 20px;
}

.cartlike-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  display: inline-block;
  background: url('https://designmodo.com/demo/shopping-cart/twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* .is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
} */

/* @keyframes animate {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: right;
  }
} */

.cartimage {
  margin-right: 50px;
}

.cartdescription {
  margin: 0px;
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.cartdescription span {
  display: block;
  font-size: 14px;
  color: #000000;
  font-weight: 400;
}

.cartdescription span:first-child {
  margin-bottom: 5px;
}

.cartdescription span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.cartquantity {
  padding-top: 20px;
  margin-right: 60px;
}

.cartquantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

button[class*=cartplus] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

button[class*=cartminus] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.notempty {
  width: 'auto';
  padding-top: 25px;
}

.cartminus-btn img {
  margin-bottom: 3px;
}

.cartplus-btn img {
  margin-top: 2px;
}

button:focus,
input:focus {
  outline: 0;
}

.carttotal-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

@media (max-width: 800px) {
  .cartshopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .cartitem {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cartimage img {
    width: 50%;
  }

  .cartimage,
  .cartquantity,
  .cartdescription {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }

  .cartbuttons {
    margin-right: 20px;
  }
}